# Laravel .gitignore

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Laravel-specific
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# PHP
composer.phar
composer.lock

# OS files
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.project
.settings
.classpath
.c9/

# Testing
.phpunit.cache
coverage/
.phpunit.result.cache

